# Football-Data.org (https://www.football-data.org/client/register)
FOOTBALL_DATA_TOKEN=

# YouTube Data API v3 (https://console.cloud.google.com/)
YOUTUBE_API_KEY=

# 하이라이트 우선 채널 ID (쿠팡플레이)
YOUTUBE_PRIMARY_CHANNEL_ID=UCgKkUv9NWBhI4xK0XGCEcjA

# 폴백 채널 (콤마 구분)
YOUTUBE_FALLBACK_CHANNEL_IDS=
